.formContainer {
    display: flex;
    flex-direction: column;
    width: 1684px;
    height: 958px;
    background-color: #FBF9FFA6;
    padding: 65px 55px;
    margin-top: 30px;
    border-radius: 4px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.dropdowns {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    width: 550px;
    height: 260px;   
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 55px; /* Adjust spacing between elements */
    width: fit-content;
}

.dropdownStyle {
    width: 550px;
}

.dateStyle{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    height: 45px !important;
}

.buttonContainer {
    margin-top: auto; /* Push button to bottom of container */
    display: flex;
    justify-content: flex-end; /* Align to left of container */
    margin-top: 50px; /* Add space before button */
}