:root {
    --text-white: #FFFFFF;
    --text-bold: #212529;
    --text-primary: #0D0F10;
    --text-secondary: #6C6C6C;

    --bg-primary: #8338EC;
    --bg-secondary: #3A86FF; /*This may not be used after*/
    --bg-outline: #8338EC;
}